html,
body,
#root {
  margin: 0;
  padding: 0;
}

/** 滚动条 **/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(193, 193, 193, 1);
  border-radius: 20px;
  border: 1px solid rgba(192, 192, 192, 1);
}

/* keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.fadeIn {
  animation-timing-function: linear;
  animation-name: fadeIn;
}

.fadeOut {
  animation-timing-function: linear;
  animation-name: fadeIn;
}
